<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Test">
  <test name="Functional Testing">
    <classes>
      <class name="UItestwithTestNG.LoginTest"/>
      <class name="UItestwithTestNG.VerifyTitleTest"/>
      <class name="UItestwithTestNG.VerifyTitle2Test"/>
      <class name="UItestwithTestNG.GroupDemoTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
